[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
mechanize = "*"
pvporcupinedemo = "*"
pytz = "*"
speechrecognition = "*"
pyttsx = "*"
pyttsx3 = "*"
gtts = "*"
pysound = "*"
apprise = "*"
kivymd = "==0.104.2"
feedparser = "*"
pyjokes = "*"
pywhatkit = "*"
rich = "*"
wikipedia = "*"
winshell = "*"
wolframalpha = "*"
pyscreenshot = "*"
sqlalchemy = "*"
autocorrect = "*"
terminal-animation = "*"
tts = "*"
pyaudio = "*"
playsound = "*"
pycairo = "*"
pygobject = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
httplib2 = "*"
vosk = "*"
translate = "*"
rhvoice-wrapper = "*"
notify2 = "*"
pytest-playwright = "*"
dbus-python = "*"
urllib3 = "*"
pynput = "*"
click = "*"
setuptools = "*"
gitpython = "*"
arrow = "*"
geocoder = "*"

[dev-packages]

[requires]
python_version = "3.10"
